<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:insert="includes/header::header">
        <title>Edit tag</title>
    </head>
<body>
<div class="container-fluid">
    <div th:insert="includes/navigationBar::navigation_bar"></div>
    <form method="post" th:object="${tag}" action="/tag/edit">
        <p>
            <label for="name">name</label>
            <input type="text" th:field="*{name}" id="name"/>
        </p>
        <input type="hidden" th:field="*{id}" id="id"/>
        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>

