<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="includes/header::header">
    <title>Tag list</title>
</head>
<body>
<div class="container-fluid">
    <div th:insert="includes/navigationBar::navigation_bar"></div>
    <div class="row">
        <div class="col-lg-6">
            <button class="btn btn-sm btn-primary" id="add_tag">Add</button>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <td>#</td>
                </tr>
                </thead>

                <tbody>
                <tr th:each="tag:${tags}">
                    <td th:text="${tag.name}"/>
                    <td>
                        <a href="#modal_delete" data-toggle="modal" th:data-tag-id="${tag.id}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <a th:href="@{'/tag/edit/'+${tag.id}}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <canvas id="myChart"></canvas>
        </div>
    </div>

    <div class="modal" id="modal_delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Are you sure you want to remove this record?</p>
                    <form action="/tag/delete" method="post">
                        <input type="hidden" name="id" id="id"/>
                        <input type="hidden" name="redirectPage" id="redirectPage"/>
                        <button type="submit" class="btn btn-sm btn-primary" value="Yes">Yes</button>
                        <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $('#modal_delete').on('show.bs.modal', function (e) {
        var tagId = $(e.relatedTarget).data('tag-id');
        $(e.currentTarget).find('input[id="id"]').val(tagId);
        $(e.currentTarget).find('input[id="redirectPage"]').val(window.location.pathname);
    });

    $('#add_tag').on('click', function () {
        window.location.href = "/tag/add";
    })

    var json = (function () {
        var json = null;
        $.ajax({
            'async': false,
            'global': false,
            'url': "http://localhost:8084/expenditure/stats/" + getTodaysDate(),
            'dataType': "json",
            'success': function (data) {
                json = data;
            }
        });
        return json;
    })();

    function getTodaysDate() {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();

        if (dd < 10) {
            dd = '0' + dd
        }

        if (mm < 10) {
            mm = '0' + mm
        }

        return yyyy + '-' + mm + '-' + dd;

    }

    var ctx = document.getElementById('myChart').getContext('2d');

    var myRadarChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: Object.keys(json.tagTotals),
            datasets: [{
                label: 'Current month',
                data: Object.values(json.tagTotals),
                backgroundColor: 'rgba(54, 162, 235,.4)'
            }, {
                label: 'Previous month',
                data: Object.values(json.previousTagTotals),
                backgroundColor: 'rgba(255, 99, 132,.4)'

            }]
        },
        options: {
            tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                        var datasetLabel = data.datasets[tooltipItem.datasetIndex].label || 'Other';
                        var label = tooltipItem.yLabel;
                        return datasetLabel + ': ' + label;
                    }
                }
            }
        }

    });

</script>
</body>
</html>