.highlight {
    background-color: rgba(175, 188, 201, .78);
}

.tableFixHead {
    overflow-y: auto;
    height: 200px;
}

.tableFixHead table {
    border-collapse: collapse;
    width: 100%;
}

.tableFixHead th,
.tableFixHead td {
    padding: 8px 16px;
}

.tableFixHead th {
    position: sticky;
    top: 0;
    background: #eee;
}

.table thead > tr > th {
    background-color: #222222;
    color: #eeeeee;
}

.card-deck {
   display: flex;
   flex-wrap: no-wrap;
   justify-content: space-between;
}

.default-card{
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    color:white;
}

.info-card {
    background-color:#212121;
}

.info-card-success {
    background-color:#5cb85c;
}

.info-card-failure {
    background-color:#d9534f;
}

.card-figure{
    font-size: 15px;
}

.card-description{
    font-size: 12px;
}

.ui-margin{
margin-bottom:10px;
}
