<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<nav class="navbar navbar-inverse" th:fragment="navigation_bar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Expenditure manager</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/user/login">login</a></li>
            <li><a href="/user/register">register</a></li>
            <li><a href="/user/logout">logout</a></li>
            <li><a href="/user/logout">logout</a></li>
        </ul>
    </div>
</nav>
</body>
</html>